.chart-buttons.chart-buttons-right.btn-group(ng-class='{ active: showDatepicker }')
  button.btn.btn-primary(
    type='button'
    ng-click='toggleDatePicker()'
    bs-tooltip=''
    data-container='body'
    data-title='{{getPrettyDateRange()}}'
    data-placement='top'
    data-animation='none'
  ): i.glyphicon.glyphicon-calendar
  button.btn.btn-primary(
    name='button-chart-type-toggle'
    type='button'
    ng-click='cycleChartType()'
    bs-tooltip=''
    data-container='body'
    data-title='{{chart.label}}'
    data-placement='top'
    data-animation='none'
  ): i(ng-class='chart.class')

.chart-buttons.chart-buttons-left.btn-group(ng-show='chart.stackable')
  button.btn.btn-primary(
    type='button'
    ng-click='toggleStacked()'
    bs-tooltip=''
    data-container='body'
    data-title='{{ stacked ? "Unstack" : "Stack" }}'
    data-placement='top'
    data-animation='none'
  ): i.fa(ng-class='stacked ? "fa-square" : "fa-th-large"')

.popover.left.datepicker-popover(ng-show='showDatepicker')
  .arrow
  .popover-content
    .row
      .datepicker
        .range-start
        .range-end

div(name='chart')
