.list-group
  a.btn.btn-primary.btn-block(ng-click='CreateVariablePopover.visible = !CreateVariablePopover.visible')
    i.fa.fa-bar-chart-o
    |  New Variable

  include ../create-variable-popover

ul.list-group.sidebar-variables

  li.list-group-item.variable-toggle(
    ng-repeat='variable in variables | orderBy: "name"'
    data-var='{{variable.id}}'
    ng-click='select(variable)'
    ng-class='variable.selected ? "active" : ""'
    style='background-color: {{variable.color}};'
  )

    .overlay

    .btn-group.btn-group-xs.pull-right
      a.btn.btn-default(
        bs-popover
        data-container='body'
        data-target='[data-var="{{variable.id}}"]'
        data-template='templates/edit-variable-popover.html'
        data-animation=''
        ng-click='$event.stopPropagation()'
      ): i.glyphicon.glyphicon-pencil
      a.btn.btn-default(
        bs-popover
        data-container='body'
        data-target='[data-var="{{variable.id}}"]'
        data-template='templates/delete-variable-popover.html'
        data-animation=''
        ng-click='$event.stopPropagation()'
      ): i.glyphicon.glyphicon-remove

    span.badge.badge-primary {{variable.records.length}}
    span.name {{variable.name}}
