.btn-group.btn-group-justified.date-buttons
  a.btn.btn-primary.date-buttons-previous(ng-click='goToPreviousDate()'): i.glyphicon.glyphicon-chevron-left
  a.btn.btn-primary.text-center.date-buttons-date(
    type='button'
    ng-click='toggleSelectDatePopover()'
  ) {{date.pretty}}
  a.btn.btn-primary.date-buttons-next(ng-click='goToNextDate()'): i.glyphicon.glyphicon-chevron-right

include ../select-date-popover

ul.list-group.sidebar-variables

  li.list-group-item.variable-toggle(
    ng-repeat='variable in variables | orderBy: "name"'
    data-var='{{variable.id}}'
    ng-class='{ active: currentVariable.id == variable.id }'
    ng-click='goTo(variable)'
  )

    span.badge.badge-primary {{variable.records.length}}
    span.name {{variable.name}}
