.popover.right.create-variable-popover(ng-controller='CreateVariablePopoverController')
  .arrow
  .popover-content
    
    form(ng-submit='save()', name='form', novalidate)

      .row
        .col-xs-12
          .form-group(ng-class='(submitted && form.name.$invalid) ? "has-error has-feedback" : ""')
            input.form-control(
              name='name'
              maxlength=30
              ng-model='variable.name'
              type='text'
              placeholder='Variable Name'
              autocomplete='off'
              required
            )
            span.glyphicon.glyphicon-remove.form-control-feedback(ng-show='(submitted && form.name.$invalid)')

      .row
        .col-xs-12
          textarea.form-control(
            ng-model='variable.question'
            maxlength=150
            placeholder='Question'
          )

      .row
        .col-xs-12
          select.form-control(ng-model='variable.type', name='type')
            option(value='scale') Scale
            option(value='number') Number

      .row(ng-show='variable.type == "number"')
        .col-xs-12
          input.form-control(
            ng-model='variable.units'
            name='units'
            type='text'
            maxlength=10
            placeholder='Units'
          )

      .row
        .col-xs-6
          button.btn.btn-default.btn-block(type='button', ng-click='$hide()') Cancel
        .col-xs-6
          button.btn.btn-primary.btn-block(type='submit') Save