form(name='variable-edit', ng-controller='EditVariablePopoverController', ng-submit='save()')

  .row
    .col-md-12
      .form-group
        input.form-control(
          name='name'
          type='text'
          placeholder='Variable Name (ex: "Sleep")'
          ng-model='form.name'
        )

  .row
    .col-md-12
      .form-group
        textarea.form-control(
          name='question'
          placeholder='Question (ex: "How much sleep did you get last night?")'
          ng-model='form.question'
        )

  .row
    .col-xs-6
      .form-group
        button.btn.btn-default.btn-block(type='button', ng-click='$hide()') Cancel
    .col-xs-6
      .form-group
        button.btn.btn-primary.btn-block(type='submit') Save