.navbar-header.pull-left
  .navbar-brand Lifetracker

.navbar-header.pull-right(ng-class='{ "import-export-popover-active": importExportPopover.show }')
  a.btn.btn-link.navbar-btn(
    ui-sref='default'
    ng-class='{ active: $state.includes("default") || $state.includes("insights") }'
    bs-tooltip=''
    data-title='View Charts'
    data-placement='bottom'
    data-animation='none'
  ): i.glyphicon.glyphicon-signal
  a.btn.btn-link.navbar-btn(
    ui-sref='record'
    ng-class='{ active: $state.includes("record"), disabled: !variables.length }'
    bs-tooltip=''
    data-title='Record Data'
    data-placement='bottom'
    data-animation='none'
  ): i.glyphicon.glyphicon-plus
  a.btn.btn-link.navbar-btn(
    ng-click='importExportPopover.toggle()'
    bs-tooltip=''
    data-title='Import/Export'
    data-placement='bottom'
    data-animation='none'
  ): i.glyphicon.glyphicon-sort

  ng-include(src='"templates/import-export-popover.html"')
