.navbar-header.pull-left
  .navbar-brand Lifetracker

.navbar-header.pull-right
  a.btn.btn-link.navbar-btn(
    ui-sref='default'
    ng-class='{ active: $state.includes("default") || $state.includes("insights") }'
    bs-tooltip=''
    data-title='View Charts'
    data-placement='bottom'
    data-animation='none'
    data-container='body'
  ): i.glyphicon.glyphicon-signal
  a.btn.btn-link.navbar-btn(
    ng-click='goToWizard()'
    ng-class='{ active: $state.includes("wizard"), disabled: !variables.length }'
    bs-tooltip=''
    data-title='Record Data'
    data-placement='bottom'
    data-animation='none'
    data-container='body'
  ): i.glyphicon.glyphicon-plus
  a.btn.btn-link.navbar-btn(
    ng-click='openExportToCSVFileManager()'
    bs-tooltip=''
    data-title='Export'
    data-placement='bottom'
    data-animation='none'
    data-container='body'
  ): i.fa.fa-mail-forward
  a.btn.btn-link.navbar-btn(
    ng-click='openImportFromCSVFileManager()'
    bs-tooltip=''
    data-title='Import'
    data-placement='bottom'
    data-animation='none'
    data-container='body'
  ): i.fa.fa-mail-forward
input.hidden(type='file', name='export-csv', nwsaveas='lifetracker.csv')
input.hidden(type='file', name='import-csv', accept='.csv')
