//- @todo @bug if min is set to zero then the slider jumps back to the default value
//- when returning to the step
slider(
  ng-model='record.value'
  min='.01'
  step='.01'
  max='10'
  data-slider-tooltip='hide'
  name='record'
)