.sidebar
  //- .list-group
  //-   a.btn.btn-primary.btn-block(
  //-       bs-popover
  //-       data-container='body'
  //-       data-template='templates/common/create-variable-popover.html'
  //-       data-animation=''
  //-   )
  //-     i.fa.fa-bar-chart-o
  //-     |  New Variable

  ul.list-group.sidebar-variables

    li#new-variable-button.list-group-item(
      bs-popover
      data-container='body'
      data-template='templates/common/create-variable-popover.html'
      data-animation=''
    )
      span.name New Variable
      .pull-right
        i.glyphicon.glyphicon-chevron-right

    li.list-group-item.variable-toggle(
      ng-repeat='variable in variables | orderBy: "name"'
      data-var='{{variable._id}}'
      ng-click='select(variable)'
      ng-class='variable.selected ? "active" : ""'
      style='background-color: {{variable.color}};'
    )

      .overlay

      .btn-group.btn-group-xs.pull-right
        a.btn.btn-default(
          bs-popover
          data-container='body'
          data-target='[data-var="{{variable._id}}"]'
          data-template='templates/common/edit-variable-popover.html'
          data-animation=''
          ng-click='$event.stopPropagation()'
        ): i.glyphicon.glyphicon-pencil
        a.btn.btn-default(
          bs-popover
          data-container='body'
          data-target='[data-var="{{variable._id}}"]'
          data-template='templates/common/delete-variable-popover.html'
          data-animation=''
          ng-click='$event.stopPropagation()'
        ): i.glyphicon.glyphicon-remove

      span.name {{variable.name}}

  #select-deselect-all-button-group.btn-group.btn-group-justified(ng-show='variables.length >= 2')
    .btn-group
      a.btn.btn-default(ng-click='selectAll()') Select All
    .btn-group
      a.btn.btn-default(ng-click='deselectAll()') Deselect All

.main
  .chart(name='chart')
  .chart-buttons.chart-buttons-right.btn-group
    button.btn.btn-primary(
      bs-popover
      data-container='body'
      data-template='templates/common/datepicker-popover.html'
      data-animation=''
      data-placement='top'
    ): i.glyphicon.glyphicon-calendar
    button.btn.btn-primary(
      name='button-chart-type-toggle'
      type='button'
      ng-click='cycleChartType()'
      bs-tooltip=''
      data-container='body'
      data-title='{{chart.label}}'
      data-placement='top'
      data-animation='none'
    ): i(ng-class='chart.class')
