.chart(name='chart-insights')

.chart-buttons.chart-buttons-right.btn-group
  button.btn.btn-primary(
    name='button-chart-type-toggle'
    type='button'
    ng-click='cycleChartType()'
    bs-tooltip=''
    data-container='body'
    data-title='{{chart.label}}'
    data-placement='top'
    data-animation='none'
  ): i(ng-class='chart.class')
