.popover.right.edit-variable-popover(focusable-popover, ng-controller='EditVariablePopoverController')
  .arrow
  .popover-content
        
    form(name='form', ng-submit='save()', novalidate)

      .row
        .col-md-12
          .form-group(ng-class='(submitted && form.name.$invalid) ? "has-error has-feedback" : ""')
            input.form-control(
              name='name'
              type='text'
              maxlength=30
              placeholder='Variable Name'
              ng-model='inputs.name'
              autocomplete='off'
              required
            )
            span.glyphicon.glyphicon-remove.form-control-feedback(ng-show='(submitted && form.name.$invalid)')

      .row
        .col-md-12
          .form-group
            textarea.form-control(
              name='question'
              placeholder='Question'
              maxlength=150
              ng-model='inputs.question'
            )

      .row
        .col-xs-6
          .form-group
            button.btn.btn-default.btn-block(type='button', ng-click='$hide()') Cancel
        .col-xs-6
          .form-group
            button.btn.btn-primary.btn-block(type='submit') Save